{
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "semi": ["error", "always"],
    "no-empty": "warn",
    "no-cond-assign": ["error", "always"],
    "indent": ["error", 2],
    "quotes": ["error", "double"],
    "comma-dangle": ["error", "always"]
  }
}
